@import './mixins.scss';
@import './variables.scss';

.carousel {
  width: 100%;

  .featured {
    width: 100%;
    height: 50rem;
    object-fit: cover;

    @include atDesktop {
      border-radius: 2rem;
    }
  }

  .preview {
    display: none;

    @include atDesktop {
      display: flex;
      justify-content: space-between;
      margin-top: 1.8rem;
    }

    .thumbnail {
      position: relative;
      width: 11rem;
      height: 11rem;
      border-radius: 1.5rem;
      background-size: cover;
      cursor: pointer;
    }

    .selected {
      &::before {
        border: 2px solid $orange;
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        border-radius: 1.5rem;
        background-color: hsla(25, 100%, 94%, 0.7);
      }
    }
  }
}
