@import './mixins.scss';
@import './variables.scss';

.carousel {
  width: 100%;
  position: relative;

  .featured {
    width: 100%;
    height: 50rem;
    object-fit: cover;

    @include atDesktop {
      border-radius: 2rem;
    }
  }

  .preview {
    display: none;

    @include atDesktop {
      display: flex;
      justify-content: space-between;
      margin-top: 1.8rem;
    }

    .thumbnail {
      position: relative;
      width: 11rem;
      height: 11rem;
      border-radius: 1.5rem;
      background-size: cover;
      cursor: pointer;
    }

    .selected {
      &::before {
        border: 0.2rem solid $orange;
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        border-radius: 1.5rem;
        background-color: hsla(25, 100%, 94%, 0.7);
      }
    }
  }

  .controls {
    position: absolute;
    top: calc(50% - 5rem);
    left: 0;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include atDesktop {
      display: none;
    }

    button {
      background: #fff;
      border: 0;
      border-radius: 100%;
      height: 5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        margin-left: -0.05rem;
      }
    }
  }
}
