@import './variables.scss';
@import './mixins.scss';

.navbar {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    max-width: $maxWidth;
    margin: 0 auto;

    @include atDesktop {
      padding: 3rem 0;
      border-bottom: 1px solid $grayishBlue;
      margin-bottom: 4rem;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
    }

    .toggle {
      position: relative;
      z-index: 3;

      @include atDesktop {
        display: none;
      }
    }

    .left {
      /* Fix misalignment */
      display: flex;

      button {
        width: 2rem;
        margin-right: 2rem;
      }
      .desktopMenu {
        display: none;

        @include atDesktop {
          display: inline-block;

          a {
            margin-left: 2rem;
            text-decoration: none;
            color: $veryDarkBlue;

            &:first-child {
              margin-left: 6rem;
            }
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        margin-left: 2rem;

        @include atDesktop {
          width: 5rem;
          margin-left: 4rem;
        }
      }
    }
  }
}
